@charset "UTF-8";
/* VARIABLES */
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Satisfy&display=swap");
.button .description {
  background-color: #be9858;
  color: white;
  font-size: 16px;
  margin-left: 0;
}

/* GOOGLE FONTS */
/* CSS RESET */
* {
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

/* BASE CSS */
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
}

h1 {
  font-size: 3.5em;
  font-family: "Satisfy", cursive;
}

h2 {
  font-size: 2.7em;
  font-family: "Satisfy", cursive;
}

h3 {
  font-size: 2.5em;
  font-family: "Satisfy", cursive;
}

p {
  font-size: 1.25em;
}

ul {
  list-style: none;
}

li {
  font-size: 1.25em;
}

/* WHATSAPP ICON */
.btn-wps {
  position: fixed;
  width: 55px;
  height: 55px;
  line-height: 55px;
  bottom: 30px;
  right: 30px;
  background-color: #0df053;
  color: #fff;
  border-radius: 50%;
  text-align: center;
  font-size: 30px;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.3);
  z-index: 100;
}

.btn-wps:hover {
  text-decoration: none;
  color: #0df053;
  background-color: #fff;
}

/* HEADER - HERO */
#hero-home {
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  transition: all 0.3s ease-in-out;
  -webkit-animation: hero-home 28s infinite linear;
          animation: hero-home 28s infinite linear;
}

/* NAVEGATION */
nav {
  height: 3em;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

/* HAMBURGER MENU */
.bar-btn {
  font-size: 2em;
  color: #fff;
  margin-right: 20px;
  cursor: pointer;
  margin-left: auto;
  margin-top: 20px;
}

.nav-menu {
  position: fixed;
  width: 100%;
  height: 0vh;
  top: 50px;
  background: rgba(0, 0, 0, 0.9);
  text-align: center;
  transition: all 0.5s;
  z-index: 10;
}

.nav-menu li {
  display: none;
  line-height: 16.5vh;
  transition: all 0.5s;
}

.nav-menu li a {
  margin-right: 25px;
  color: #fff;
  font-size: 1em;
  font-weight: 400;
}

.nav-menu li a.active,
.nav-menu li a:hover {
  color: rgb(211, 110, 112);
  transition: 0.3s;
}

#check {
  display: none;
}

#check:checked ~ .nav-menu {
  height: 100vh;
}

#check:checked ~ .nav-menu li {
  display: block;
}

/* HEADER CARRUSEL */
@-webkit-keyframes hero-home {
  0% {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/hero.jpg");
  }
  25% {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/hero.jpg");
  }
  26% {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/hero-2.jpeg");
  }
  50% {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/hero-2.jpeg");
  }
  51% {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/hero-3.jpg");
  }
  75% {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/hero-3.jpg");
  }
  76% {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/hero-4.jpg");
  }
  100% {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/hero-4.jpg");
  }
}
@keyframes hero-home {
  0% {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/hero.jpg");
  }
  25% {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/hero.jpg");
  }
  26% {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/hero-2.jpeg");
  }
  50% {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/hero-2.jpeg");
  }
  51% {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/hero-3.jpg");
  }
  75% {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/hero-3.jpg");
  }
  76% {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/hero-4.jpg");
  }
  100% {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/hero-4.jpg");
  }
}
/* BANNER TEXT */
.banner_text-home {
  height: 80%;
  display: flex;
  flex-direction: column;
  padding: 0 2em;
  text-align: center;
  align-items: center;
  justify-content: center;
  color: #fff;
}

.banner_text-home h1 {
  font-size: 4em;
  margin-bottom: 0;
}

.banner_text-home h2 span {
  color: rgb(211, 110, 112);
}

.banner_text-home h2 {
  font-size: 2em;
  margin-top: 0;
}

/* BUTTONS */
.button_explore, .button_reserv {
  font-size: 16px;
  margin-left: 12px;
  padding: 10px 30px;
  background-color: rgb(211, 110, 112);
  color: #fff;
  border-radius: 5px;
  border: none;
  transition: 0.3s ease-in-out;
}

.button_explore:hover, .button_reserv:hover {
  background-color: transparent;
  border: 1px solid rgb(211, 110, 112);
  color: rgb(211, 110, 112);
}

.button_reserv:hover {
  background-color: transparent;
  border: 1px solid rgb(211, 110, 112);
  color: rgb(211, 110, 112);
}

/* FIRST SECTION*/
#welcome_section {
  background-color: rgb(239, 239, 239);
  padding: 25px 15px;
  width: 100%;
  height: 600px;
  overflow: hidden;
}

.welcome_container {
  display: flex;
  flex-wrap: wrap;
}

.welcome_title {
  width: 250px;
  margin-left: 10px;
}

.welcome_title h2 {
  font-size: 50px;
  margin-top: 10px;
  margin-bottom: 0;
}

.welcome_title span {
  font-size: 18px;
  max-width: 100px;
  border-bottom: 2px solid rgb(211, 110, 112);
}

.welcome_description {
  text-align: justify;
  font-size: 16px;
  max-width: 360px;
  max-height: 450px;
  overflow: hidden;
  padding: 0px 10px 0px 10px;
}

p:nth-child(3) {
  display: none;
}

/* FOOTER */
footer {
  display: flex;
  flex-flow: row wrap;
  padding: 30px 50px;
  color: #fff;
  background-color: black;
}

.footer > * {
  flex: 1 100%;
}

.footer-left {
  margin-right: 1.25em;
  margin-bottom: 2em;
}

.website_logo {
  font-size: 3.5em;
  margin-bottom: 15px;
}

footer h3 {
  font-weight: 600;
  font-size: 20px;
  font-family: "Roboto", sans-serif;
}

.footer ul {
  padding-left: 0;
}

.footer li {
  line-height: 1.2em;
}

.footer-right {
  display: flex;
  flex-flow: row wrap;
}

.footer-right > * {
  flex: 1 50%;
  margin-top: 1.25em;
}

.box a {
  color: #999;
  font-size: 18px;
}

.footer-bottom {
  text-align: center;
  color: #999;
  padding-top: 40px;
  border-top: 1px solid rgba(211, 211, 211, 0.483);
}

.footer-left p {
  padding-right: 20%;
  color: #999;
  font-size: 18px;
}

.socials a {
  background: rgb(211, 110, 112);
  width: 40px;
  height: 40px;
  display: inline-block;
  margin-top: 10px;
  margin-right: 10px;
  border-radius: 50%;
}

.socials a i {
  color: #e7f2f4;
  padding: 10px 10px;
  font-size: 25px;
}

@media (min-width: 768px) {
  nav {
    height: 100px;
  }
  .bar-btn {
    display: none;
  }
  .nav-menu {
    transition: none;
    position: relative;
    top: 0;
    display: flex;
    justify-content: space-between;
    margin-top: -10px;
  }
  .nav-menu li {
    display: inline-block;
    line-height: 100px;
    margin: 0 50px;
    transition: none;
  }
  .nav-menu li a {
    font-size: 0.8em;
  }
  /* BANNER TEXT */
  .banner_text-home {
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 2em;
    color: #fff;
  }
  .banner_text-home h1 {
    font-size: 5.5em;
    margin-bottom: 0;
  }
  .banner_text-home h2 span {
    color: rgb(211, 110, 112);
  }
  .banner_text-home h2 {
    font-size: 2.5em;
    margin-top: 0;
  }
  /* BUTTONS */
  .button_explore, .button_reserv {
    margin-left: -10px;
    font-size: 22px;
  }
  .button_reserv {
    margin-left: 40px;
    font-size: 22px;
  }
  .button_description {
    background-color: #7ec59d;
    color: white;
    font-size: 16px;
    margin-left: 12px;
    padding: 10px 30px;
    border-radius: 5px;
    border: none;
    transition: 0.3s ease-in-out;
    margin-left: 0;
  }
  .button_description:hover {
    background-color: transparent;
    border: 1px solid #7ec59d;
    color: #7ec59d;
  }
  /* WELCOME SECTION */
  #welcome_section {
    background-color: rgb(239, 239, 239);
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
  }
  .welcome_container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 50px;
  }
  .welcome_title span {
    margin-left: 20px;
  }
  .welcome_title h2 {
    font-size: 55px;
    margin-top: 5px;
    margin-left: 20px;
  }
  .welcome_description {
    max-width: 870px;
    padding-top: 30px;
    padding-right: 40px;
  }
  p:nth-child(3) {
    display: flex;
  }
  .button_description {
    font-size: 20px;
    margin-left: 0;
  }
  /* FOOTER */
  .website_logo {
    font-size: 3.7em;
    margin-bottom: 15px;
  }
  .socials a {
    background: rgb(211, 110, 112);
    width: 45px;
    height: 45px;
    display: inline-block;
    margin-top: 10px;
    margin-right: 10px;
  }
  .socials a i {
    color: #e7f2f4;
    padding: 14px 14px;
    font-size: 20px;
  }
  .footer-right > * {
    flex: 1;
  }
  .footer-left {
    flex: 1 0px;
    margin-right: 100px;
  }
  .footer-left p {
    padding-right: 5%;
    color: #999;
  }
  .footer-right {
    flex: 2 0px;
  }
  .footer-bottom {
    font-size: 13px;
  }
}
@media (max-width: 500px) {
  .footer {
    padding: 30px;
  }
}
/* HEADER - HERO */
#hero {
  width: 100%;
  height: 60vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/antiguedades.jpg");
}

/* BANNER TEXT */
.banner-text {
  display: flex;
  align-content: flex-start;
  align-items: center;
  height: 80%;
  margin-left: 15px;
}

.banner-text::before {
  position: absolute;
  content: "";
  width: 80px;
  border: 2px solid rgb(211, 110, 112);
  top: 20vh;
  left: 4.5vw;
}

.banner-text h1 {
  font-size: 3.6em;
  color: rgb(230, 230, 230);
  font-family: "Roboto", sans-serif;
}

/* MAIN ABOUT US */
.main_about-us {
  background-color: rgb(239, 239, 239);
}

/* ABOUT US SECTION*/
.section_about-us_container {
  background-color: rgb(239, 239, 239);
  display: grid;
  grid-template-rows: -webkit-max-content 1fr 1fr 1fr;
  grid-template-rows: max-content 1fr 1fr 1fr;
  grid-template-areas: "titulo" "parrafo_uno" "parrafo_dos" "parrafo_tres";
}

.about-us_title {
  grid-area: titulo;
  text-align: center;
}

.about-us_title::after {
  position: absolute;
  content: "";
  width: 130px;
  height: 3px;
  background: rgb(211, 110, 112);
  top: 79vh;
  left: 33vw;
}

.about-us_title h2 {
  margin-bottom: 0;
}

.about-us_description, .our-history_description4, .about-us_description3, .about-us_description2 {
  grid-area: parrafo_uno;
  text-align: justify;
  padding: 10px 25px 0px 25px;
  overflow: hidden;
  max-height: 260px;
}

/* OUR HISTORY SECTION */
.our-history_container {
  display: grid;
  grid-template-rows: -webkit-max-content 1fr -webkit-max-content;
  grid-template-rows: max-content 1fr max-content;
  grid-template-areas: "titulo_dos" "img_quienes-somos" "parrafo_cuatro";
}

.our-history_title {
  text-align: center;
  grid-area: titulo_dos;
}

.our-history_title h2 {
  margin-top: 10px;
}

.our-history_title::after {
  position: absolute;
  content: "";
  width: 130px;
  height: 3px;
  background: rgb(211, 110, 112);
  top: 256vh;
  left: 34vw;
}

.img_our-history {
  height: 350px;
  width: 87%;
  margin: 0 auto;
  background-image: url("../img/foto-quinqué.jpg");
  background-size: cover;
  background-position: center;
  grid-area: img_quienes-somos;
}

.our-history_description4 {
  overflow: hidden;
}

@media (min-width: 768px) {
  /* BANNER TEXT */
  .banner-text {
    height: 35%;
    display: flex;
    justify-content: start;
    padding: 0 2em;
    color: #fff;
  }
  .banner-text::before {
    position: absolute;
    content: "";
    width: 130px;
    border: 2px solid rgb(211, 110, 112);
    top: 22vh;
    left: 4vw;
  }
  .banner-text h1 {
    font-size: 5em;
    margin-bottom: 0;
  }
  /* ABOUT US */
  .section_about-us_container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "titulo titulo titulo" "parrafo1 parrafo2 parrafo3" "parrafo1 parrafo2 parrafo3" "parrafo1 parrafo2 parrafo3";
  }
  .about-us_title {
    grid-area: titulo;
    text-align: center;
  }
  .about-us_title h2 {
    margin: 50px 0px 15px 0px;
    font-size: 3.5em;
  }
  .about-us_title::after {
    content: "";
    width: 130px;
    height: 4px;
    background: rgb(211, 110, 112);
    top: 80vh;
    left: 44vw;
  }
  .about-us_description, .about-us_description2, .about-us_description3, .our-history_description4 {
    grid-area: parrafo1;
    max-height: -webkit-max-content;
    max-height: -moz-max-content;
    max-height: max-content;
  }
  .about-us_description2 {
    grid-area: parrafo2;
    max-height: -webkit-max-content;
    max-height: -moz-max-content;
    max-height: max-content;
  }
  .about-us_description3 {
    grid-area: parrafo3;
    max-height: -webkit-max-content;
    max-height: -moz-max-content;
    max-height: max-content;
  }
  /* OUR HISTORY */
  .our-history_container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas: "titulo2 titulo2 titulo2 titulo2" "img img parrafo4 parrafo4" "img img parrafo4 parrafo4";
    height: 750px;
  }
  .our-history_title {
    grid-area: titulo2;
  }
  .our-history_title h2 {
    margin: 25px 0px 60px 0px;
    font-size: 3.5em;
  }
  .our-history_title::after {
    content: "";
    width: 130px;
    height: 4px;
    background: rgb(211, 110, 112);
    top: 172vh;
    left: 44vw;
  }
  .img_our-history {
    grid-area: img;
    height: 550px;
  }
  .our-history_description4 {
    grid-area: parrafo4;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    overflow: visible;
    margin: 0;
    padding: 0px 35px 0px 15px;
  }
  .our-history_description4 p {
    margin-top: 0;
  }
}
@media (min-width: 1024px) {
  /* TITLES */
  .title::after {
    position: absolute;
    content: "";
    width: 130px;
    border: 1.5px solid rgb(211, 110, 112);
    top: 77vh;
    left: 44vw;
  }
  .title_dos::after {
    position: absolute;
    content: "";
    width: 130px;
    border: 1.5px solid rgb(211, 110, 112);
    top: 152vh;
    left: 44vw;
  }
  /* BANNER TEXT */
  .banner-text::before {
    position: absolute;
    content: "";
    width: 130px;
    border: 2px solid rgb(211, 110, 112);
    top: 20vh;
    left: 3.6vw;
  }
}
/* PRODUCTS */
.main_productos {
  background-color: rgb(239, 239, 239);
}

/* CARDS PRODUCTS */
.grid {
  margin: 75px 15px;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 80px;
  align-items: center;
}

.grid > article {
  border: none;
  box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);
  border-radius: 20px;
  text-align: center;
  width: 325px;
  height: 480px;
  transition: trasform 0.3s;
}

.grid > article:hover {
  transform: translateY(3px);
  box-shadow: 2px 2px 26px 0px rgba(0, 0, 0, 0.3);
}

.grid .card_img, .grid .card_img-6, .grid .card_img-5, .grid .card_img-4, .grid .card_img-3, .grid .card_img-2 {
  width: 100%;
  height: 240px;
  background-image: url("../img/productos-artesanales.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.grid .card_img-2 {
  background-image: url("../img/conservas-caseras.jpg");
}

.grid .card_img-3 {
  background-image: url("../img/delicatessen.jpg");
}

.grid .card_img-4 {
  background-image: url("../img/frascos.jpg");
}

.grid .card_img-5 {
  background-image: url("../img/maquina de coser.jpg");
}

.grid .card_img-6 {
  background-image: url("../img/telefono.jpg");
}

.card_text {
  padding: 0 20px 20px;
}

.card_text h3 {
  font-family: "Roboto", sans-serif;
  font-size: 30px;
}

.card_text .card_button {
  display: none;
  width: 100%;
  font-size: 16px;
  padding: 10px 30px;
  background-color: rgb(211, 110, 112);
  color: #fff;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  border-radius: 20px;
}

.text .card_button:hover {
  background-color: transparent;
  border: 1px solid rgb(211, 110, 112);
  color: rgb(211, 110, 112);
  transition: 0.3s;
}

@media (min-width: 768px) {
  nav {
    height: 100px;
  }
  .bar-btn {
    display: none;
  }
  .nav-menu {
    transition: none;
    position: relative;
    top: 0;
    display: flex;
    justify-content: space-between;
    margin-top: -10px;
  }
  .nav-menu li {
    display: inline-block;
    line-height: 100px;
    margin: 0 50px;
    transition: none;
  }
  .nav-menu li a {
    font-size: 0.8em;
  }
  /* BANNER TEXT */
  .banner-text {
    height: 35%;
    display: flex;
    justify-content: start;
    padding: 0 2em;
    color: #fff;
  }
  .banner-text::before {
    position: absolute;
    content: "";
    width: 130px;
    border: 2px solid rgb(211, 110, 112);
    top: 22vh;
    left: 4vw;
  }
  .banner-text h1 {
    font-size: 5em;
    margin-bottom: 0;
  }
  .banner-text h2 span {
    color: rgb(211, 110, 112);
  }
  /* CARDS PRODUCTS */
  .grid {
    grid-template-columns: repeat(3, 1fr);
    margin: 75px 30px;
  }
  .grid > article {
    width: 300px;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
  }
  .card_text .card_button {
    display: block;
  }
  .card_text .card_button:hover {
    background-color: transparent;
    border: 1px solid rgb(211, 110, 112);
    color: rgb(211, 110, 112);
    transition: 0.3s;
  }
  /* FOOTER */
  .website_logo {
    font-size: 3.7em;
    margin-bottom: 15px;
  }
  .socials a {
    background: rgb(211, 110, 112);
    width: 45px;
    height: 45px;
    display: inline-block;
    margin-top: 10px;
    margin-right: 10px;
  }
  .socials a i {
    color: #e7f2f4;
    padding: 14px 14px;
    font-size: 20px;
  }
  .footer-right > * {
    flex: 1;
  }
  .footer-left {
    flex: 1 0px;
    margin-right: 100px;
  }
  .footer-left p {
    padding-right: 5%;
    color: #999;
  }
  .footer-right {
    flex: 2 0px;
  }
  .footer-bottom {
    font-size: 13px;
  }
}
@media (min-width: 1024px) {
  /* BANNER TEXT */
  .banner-text::before {
    position: absolute;
    content: "";
    width: 130px;
    border: 2px solid rgb(211, 110, 112);
    top: 20vh;
    left: 3.6vw;
  }
  .grid {
    grid-template-columns: repeat(3, 1fr);
    margin: 75px 65px;
  }
  .grid > article {
    width: 380px;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
  }
}
/* GALLERY */
.main_gallery {
  background-color: rgb(239, 239, 239);
}

.gallery-container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  padding: 50px 10px;
  gap: 10px;
}
.gallery-container .gallery__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (min-width: 768px) {
  /* NAV MENU */
  nav {
    height: 100px;
  }
  .bar-btn {
    display: none;
  }
  .nav-menu {
    transition: none;
    position: relative;
    top: 0;
    display: flex;
    justify-content: space-between;
    margin-top: -10px;
  }
  .nav-menu li {
    display: inline-block;
    line-height: 100px;
    margin: 0 50px;
    transition: none;
  }
  .nav-menu li a {
    font-size: 0.8em;
  }
  /* BANNER TEXT */
  .banner-text {
    height: 35%;
    display: flex;
    justify-content: start;
    padding: 0 2em;
    color: #fff;
  }
  .banner-text::before {
    position: absolute;
    content: "";
    width: 130px;
    border: 2px solid rgb(211, 110, 112);
    top: 22vh;
    left: 4vw;
  }
  .banner-text h1 {
    font-size: 5em;
    margin-bottom: 0;
  }
  /* GALLERY */
  .gallery-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: auto;
    padding: 50px 10px;
    gap: 10px;
  }
  .gallery__item:nth-child(3) {
    grid-column-start: span 2;
  }
  .gallery__item:nth-child(4) {
    grid-column-start: span 3;
  }
  .gallery__item:nth-child(5) {
    grid-row-start: span 3;
  }
  .gallery__item:nth-child(9) {
    grid-column-start: span 3;
  }
  /* FOOTER */
  .website_logo {
    font-size: 3.7em;
    margin-bottom: 15px;
  }
  .socials a {
    background: rgb(211, 110, 112);
    width: 45px;
    height: 45px;
    display: inline-block;
    margin-top: 10px;
    margin-right: 10px;
  }
  .socials a i {
    color: #e7f2f4;
    padding: 14px 14px;
    font-size: 20px;
  }
  .footer-right > * {
    flex: 1;
  }
  .footer-left {
    flex: 1 0px;
    margin-right: 100px;
  }
  .footer-left p {
    padding-right: 5%;
    color: #999;
  }
  .footer-right {
    flex: 2 0px;
  }
  .footer-bottom {
    font-size: 13px;
  }
}
@media (min-width: 1024px) {
  /* BANNER TEXT */
  .banner-text::before {
    position: absolute;
    content: "";
    width: 130px;
    border: 2px solid rgb(211, 110, 112);
    top: 20vh;
    left: 3.6vw;
  }
  /* GALLERY */
  .gallery-container {
    grid-template-columns: repeat(5, 1fr);
    width: 95%;
    margin: auto;
  }
  .gallery__item:nth-child(1) {
    grid-column-start: span 2;
    grid-row-start: span 2;
  }
  .gallery__item:nth-child(4) {
    grid-column-start: span 3;
    grid-row-start: span 3;
  }
}
/* CONTACT FORM */
.main_contact {
  background-color: rgb(239, 239, 239);
}

/* CONTACT */
.contactUs {
  position: relative;
  width: 100%;
  padding: 40px 100px;
}

.contactUs .title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
}

.form {
  grid-area: form;
}

.box {
  position: relative;
}

/* CONTACT FORM */
#contact {
  min-height: 100vh;
  display: grid;
  align-items: center;
  justify-content: center;
}

#contact .contact_container {
  padding: 1rem;
  margin-left: auto;
  margin-right: auto;
}

#contact .contact_container h2 {
  font-size: 2rem;
  text-align: left;
  margin: 1em 0;
  font-family: "Roboto", sans-serif;
  color: rgb(211, 110, 112);
}

#contact .contact_container .contact-content {
  display: grid;
  grid-template-columns: 1fr;
  box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  overflow: hidden;
  border-radius: 10px;
}

#contact .contact_container .contact-content .content-info {
  background-color: rgb(211, 110, 112);
  color: white;
  padding: 1.75rem 1rem;
  position: relative;
  border-radius: 10px 10px 0px 0px;
}

#contact .contact_container .contact-content .content-info::before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-left: 1rem solid transparent;
  border-right: 1rem solid transparent;
  border-top: 1.75rem solid rgb(211, 110, 112);
  bottom: -1.7rem;
  right: 2rem;
}

#contact .contact_container .contact-content .content-info h4 {
  font-size: 1.5rem;
  margin: 0;
  margin-bottom: 2rem;
}

#contact .contact_container .contact-content .content-info p {
  font-size: 1rem;
  margin: 0;
  margin-bottom: 2rem;
}

#contact .contact_container .contact-content .content-info ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#contact .contact_container .contact-content .content-info ul li {
  font-size: 0.95rem;
}

#contact .contact_container .contact-content .content-info ul li a {
  color: white;
}

#contact .contact_container .contact-content .content-info ul li a:hover {
  text-decoration: underline;
}

#contact .contact_container .contact-content .content-form {
  padding: 1.75rem 1rem;
  border-top: none;
  border-radius: 0px 0px 10px 10px;
}

#contact .contact_container .contact-content .content-form label {
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  color: gray;
  margin-bottom: 0.5rem;
}

#contact .contact_container .contact-content .content-form input,
#contact .contact_container .contact-content .content-form textarea {
  display: block;
  width: 100%;
  font-size: 18px;
  padding: 0.375rem 0.75rem;
  color: gray;
  border: 1px solid gray;
  margin-bottom: 1.5rem;
  border-radius: 5px;
}

#contact .contact_container .contact-content .content-form input:not([type=submit]) {
  background-color: transparent;
  padding: 1rem;
  border: 1px solid gray;
  border-radius: 10px;
  margin-bottom: 1rem;
}

#contact .contact_container .contact-content .content-form input[type=submit] {
  padding: 1rem 3rem;
  border-radius: 10px;
  background-color: rgb(211, 110, 112);
  color: white;
  font-weight: bold;
  cursor: pointer;
}

@media (min-width: 768px) {
  /* NAV MENU */
  nav {
    height: 100px;
  }
  .bar-btn {
    display: none;
  }
  .nav-menu {
    transition: none;
    position: relative;
    top: 0;
    display: flex;
    justify-content: space-between;
    margin-top: -10px;
  }
  .nav-menu li {
    display: inline-block;
    line-height: 100px;
    margin: 0 50px;
    transition: none;
  }
  .nav-menu li a {
    font-size: 0.8em;
  }
  /* BANNER TEXT */
  .banner-text {
    height: 35%;
    display: flex;
    justify-content: start;
    padding: 0 2em;
    color: #fff;
  }
  .banner-text::before {
    position: absolute;
    content: "";
    width: 130px;
    border: 2px solid rgb(211, 110, 112);
    top: 22vh;
    left: 4vw;
  }
  .banner-text h1 {
    font-size: 5em;
    margin-bottom: 0;
  }
  /* MAIN CONTACT */
  .main_contact {
    height: 920px;
  }
  /* CONTACT FORM */
  #contact .contact_container .contact-content .content-info {
    border-radius: 0px 10px 10px 0px;
  }
  #contact .contact_container .contact-content .content-form {
    border-radius: 10px 0px 0px 10px;
  }
  #contact .contact_container {
    max-width: 720px;
  }
  /* FOOTER */
  .website_logo {
    font-size: 3.7em;
    margin-bottom: 15px;
  }
  .socials a {
    background: rgb(211, 110, 112);
    width: 45px;
    height: 45px;
    display: inline-block;
    margin-top: 10px;
    margin-right: 10px;
  }
  .socials a i {
    color: #e7f2f4;
    padding: 14px 14px;
    font-size: 20px;
  }
  .footer-right > * {
    flex: 1;
  }
  .footer-left {
    flex: 1 0px;
    margin-right: 100px;
  }
  .footer-left p {
    padding-right: 5%;
    color: #999;
  }
  .footer-right {
    flex: 2 0px;
  }
  .footer-bottom {
    font-size: 13px;
  }
}
@media (min-width: 1024px) {
  /* BANNER TEXT */
  .banner-text::before {
    position: absolute;
    content: "";
    width: 130px;
    border: 2px solid rgb(211, 110, 112);
    top: 20vh;
    left: 3.6vw;
  }
  /* CONTACT FORM */
  #contact .contact_container {
    max-width: 100%;
  }
  #contact .contact_container .contact-content {
    grid-template-columns: repeat(2, 1fr);
  }
  #contact .contact_container .contact-content .content-info {
    order: 2;
  }
  #contact .contact_container .contact-content .content-info::before {
    top: 2rem;
    left: -1.75rem;
    transform: rotate(90deg);
  }
  #contact .contact_container .contact-content .content-form {
    order: 1;
    border-right: none;
  }
}/*# sourceMappingURL=estilos.css.map */