/* GOOGLE FONTS */

@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Satisfy&display=swap");

/* CSS RESET */

* {
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
}

h2 {
  font-size: 2.7em;
  font-family: "Satisfy", cursive;
}
h3 {
  font-size: 2.5em;
  font-family: "Satisfy", cursive;
}
p {
  font-size: 1.25em;
}
ul {
  list-style: none;
}
li {
  font-size: 1.25em;
}

/* CONTAINER */

.container {
  max-width: 1400px;
  margin: auto;
}

/* WHATSAPP ICON */

.btn-wps {
  position: fixed;
  width: 55px;
  height: 55px;
  line-height: 55px;
  bottom: 30px;
  right: 30px;
  background-color: #0df053;
  color: #fff;
  border-radius: 50%;
  text-align: center;
  font-size: 30px;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.3);
  z-index: 100;
}

.btn-wps:hover {
  text-decoration: none;
  color: #0df053;
  background-color: #fff;
}

/* HEADER - HERO */

#hero {
  width: 100%;
  height: 60vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url("/img/antiguedades.jpg");
  transition: all 0.1s ease-in-out;
  animation: hero 28s infinite linear;
}

/* NAVEGATION */

nav {
  height: 3em;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

/* HAMBURGER MENU */

.bar-btn {
  font-size: 2em;
  color: #fff;
  margin-right: 20px;
  cursor: pointer;
  margin-left: auto;
  margin-top: 20px;
}

.nav-menu {
  position: fixed;
  width: 100%;
  height: 0vh;
  top: 50px;
  background: rgba(0, 0, 0, 0.9);
  text-align: center;
  transition: all 0.5s;
  z-index: 10;
}

.nav-menu li {
  display: none;
  line-height: calc(16.5vh);
  transition: all 0.5s;
}

.nav-menu li a {
  margin-right: 25px;
  color: #fff;
  font-size: 1em;
  font-weight: 400;
}

.nav-menu li a.active,
.nav-menu li a:hover {
  color: rgb(211, 110, 112);
  transition: 0.3s;
}

#check {
  display: none;
}

#check:checked ~ .nav-menu {
  height: 100vh;
}

#check:checked ~ .nav-menu li {
  display: block;
}

/* BANNER TEXT */

.banner-text {
  display: flex;
  align-content: flex-start;
  align-items: center;
  height: 80%;
  margin-left: 15px;
}

.banner-text::before {
  position: absolute;
  content: '';
  width: 80px;
  border: 2px solid rgb(211, 110, 112);
  top: 20vh;
  left: 4.5vw;
}

.banner-text h1 {
  font-size: 3.6em;
  color: rgb(230, 230, 230);
}

/* MAIN */
main {
  background-color: rgb(239, 239, 239);
}

/* FIRST SECTION */

.first_section {
  display: grid;
  grid-template-rows: max-content 1fr 1fr 1fr;
  grid-template-areas: 
  "titulo"
  "parrafo_uno"
  "parrafo_dos"
  "parrafo_tres";
}

.title {
  grid-area: titulo;
  text-align: center;
}

.title::after {
  position: absolute;
  content: '';
  width: 130px;
  border: 1.5px solid rgb(211, 110, 112);
  top: 70vh;
  left: 33vw;
}

.title h2 {
  margin-bottom: 0;
}

.parrafo_uno {
  grid-area: parrafo_uno;
  text-align: justify;
  padding: 10px 25px 0px 25px;
  overflow: hidden;
  max-height: 260px;
}

.parrafo_dos {
  grid-area: parrafo_dos;
  text-align: justify;
  padding: 10px 25px 0px 25px;
  overflow: hidden;
  max-height: 260px;
}

.parrafo_tres {
  grid-area: parrafo_tres;
  text-align: justify;
  padding: 10px 25px 0px 25px;
  overflow: hidden;
  max-height: 260px;
}

/* SECOND SECTION */

.second_section {
  display: grid;
  grid-template-rows: max-content 1fr max-content;
  grid-template-areas: 
  "titulo_dos"
  "img_quienes-somos"
  "parrafo_cuatro";
}

.title_dos {
  text-align: center;
  grid-area: titulo_dos;
}

.title_dos h2 {
  margin-top: 10px;
}

.title_dos::after {
  position: absolute;
  content: '';
  width: 130px;
  border: 1.5px solid rgb(211, 110, 112);
  top: 164vh;
  left: 33vw;
}

.img_quienes-somos {
  height: 350px;
  width: 87%;
  margin: 0 auto;
  background-image: url(/img/foto-quinqué.jpg);
  background-size: cover;
  background-position: center;
  grid-area: img_quienes-somos;
}

.parrafo_cuatro {
  text-align: justify;
  padding: 10px 25px 0px 25px;
  grid-area: parrafo_cuatro;
  margin: 10px 0px 20px 0px;
  max-height: 210px;
  overflow: hidden;
}

/* FOOTER */

footer {
  display: flex;
  flex-flow: row wrap;
  padding: 30px 50px;
  color: #fff;
  background-color: black;
}

.footer > * {
  flex: 1 100%;
}

.footer-left {
  margin-right: 1.25em;
  margin-bottom: 2em;
}

.website_logo {
  font-size: 3.5em;
  margin-bottom: 15px;
}

footer h3 {
  font-weight: 600;
  font-size: 20px;
  font-family: "Roboto", sans-serif;
}

.footer ul {
  padding-left: 0;
}

.footer li {
  line-height: 1.2em;
}

.footer-right {
  display: flex;
  flex-flow: row wrap;
}

.footer-right > * {
  flex: 1 50%;
  margin-top: 1.25em;
}

.box a {
  color: #999;
  font-size: 18px;
}

.footer-bottom {
  text-align: center;
  color: #999;
  padding-top: 40px;
  border-top: 1px solid rgba(211, 211, 211, 0.483);
}

.footer-left p {
  padding-right: 20%;
  color: #999;
  font-size: 18px;
}

.socials a {
  background: rgb(211, 110, 112);
  width: 40px;
  height: 40px;
  display: inline-block;
  margin-top: 10px;
  margin-right: 10px;
  border-radius: 50%;
}

.socials a i {
  color: #e7f2f4;
  padding: 10px 10px;
  font-size: 25px;
}

@media (min-width: 768px) {
  nav {
    height: 100px;
  }

  .bar-btn {
    display: none;
  }

  .nav-menu {
    transition: none;
    position: relative;
    top: 0;
    display: flex;
    justify-content: space-between;
    margin-top: -10px;
  }

  .nav-menu li {
    display: inline-block;
    line-height: 100px;
    margin: 0 50px;
    transition: none;
  }

  .nav-menu li a {
    font-size: 0.8em;
  }
 
  /* BANNER TEXT */

  .banner-text {
    height: 35%;
    display: flex;
    justify-content: start;
    padding: 0 2em;
    color: #fff;
  }

  .banner-text::before {
    position: absolute;
    content: '';
    width: 130px;
    border: 2px solid rgb(211, 110, 112);
    top: 22vh;
    left: 4vw;
  }

  .banner-text h1 {
    font-size: 5em;
    margin-bottom: 0;
  }

  .banner-text h2 span {
    color: rgb(211, 110, 112);
  }

  .first_section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 
    "titulo titulo titulo"
    "parrafo1 parrafo2 parrafo3"
    "parrafo1 parrafo2 parrafo3"
    "parrafo1 parrafo2 parrafo3";
  }

  .title {
    grid-area: titulo;
    text-align: center;
  }

  .title h2 {
    margin: 50px 0px 15px 0px;
    font-size: 3.5em;
  }

  .title::after {
    content: '';
    width: 130px;
    top: 81vh;
    left: 44vw;
  }
  
  .parrafo_uno {
    grid-area: parrafo1;
    max-height: max-content;
  }

  .parrafo_dos {
    grid-area: parrafo2;
    max-height: max-content;
  }

  .parrafo_tres {
    grid-area: parrafo3;
    max-height: max-content;
  }

  /* SECOND SECTION */

  .second_section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas: "titulo2 titulo2 titulo2 titulo2"
                         "img img parrafo4 parrafo4"
                         "img img parrafo4 parrafo4";
    height: 750px;       
  }

  .title_dos {
    grid-area: titulo2;
  }

  .title_dos h2 {
    margin: 25px 0px 60px 0px;
    font-size: 3.5em;
  }

  .title_dos::after {
    content: '';
    width: 130px;
    top: 191.1vh;
    left: 44vw;
  }

  .img_quienes-somos {
    grid-area: img;
    height: 550px;
  }

  .parrafo_cuatro {
    grid-area: parrafo4;
    height: max-content;
    overflow: visible;
    margin: 0;
    padding: 0px 35px 0px 15px;
  }

  .parrafo_cuatro p {
    margin-top: 0;
  }

  /* FOOTER */

  .website_logo {
    font-size: 3.7em;
    margin-bottom: 15px;
  }

  .socials a {
    background: rgb(211, 110, 112);
    width: 45px;
    height: 45px;
    display: inline-block;
    margin-top: 10px;
    margin-right: 10px;
  }

  .socials a i {
    color: #e7f2f4;
    padding: 14px 14px;
    font-size: 20px;
  }

  .footer-right > * {
    flex: 1;
  }

  .footer-left {
    flex: 1 0px;
    margin-right: 100px;
  }

  .footer-left p {
    padding-right: 5%;
    color: #999;
  }

  .footer-right {
    flex: 2 0px;
  }

  .footer-bottom {
    font-size: 13px;
  }
}

@media (max-width: 500px) {
  .footer {
    padding: 30px;
  }
}
